<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Zeolite Database</title>
<link rel="stylesheet" href="{{ url_for('static',filename="scripts/bootstrap-3.3.7/dist/css/bootstrap.min.css")}}">
<link rel="stylesheet" href="{{ url_for('static',filename="css/index.css")}}">
<script src="{{ url_for('static',filename="scripts/bootstrap-3.3.7/js/tests/vendor/jquery.min.js")}}"></script>
<script src="{{ url_for('static',filename="scripts/bootstrap-3.3.7/dist/js/bootstrap.min.js")}}"></script>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #6a005f">
	<div class="container">
		<div class="navbar-header">
			<a href="#" class="navbar-brand" style="color: white">Zeolite</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/index/en">Home</a></li>

				<li><a href="/XGboost/en"  style="color: white">Binding energies predicted by XGBoost</a></li>
				<li><a href="/DIY/en"  style="color: white">DIY online prediction</a></li>
                <li><a href="/DFT/en"  style="color: white">DFT/PBE binding energies</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				{% if current_user.is_authenticated %}
                <li><a href="/login"  style="color: white">logout</a></li>
                {% else %}
				<li><a href="/login"  style="color: white">login</a></li>
                {% endif %}
				<li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"  style="color: white">English<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="/">中文</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">
	<div class="introduction">
		<div class="col-md-6">
            <h1 style="text-align: center">Zeolite Adsorption Database</h1>
            <p style="font-size: 17px">&nbsp; &nbsp;&nbsp;&nbsp; Welcome to Zeolite Adsorption Database for predicting the binding energies between zeolites and nitrogen molecules. It contains over the data of 200,000 binding energies between (experimentally synthesized & hypothetical) zeolites and nitrogen molecules, predicted by feature learning via three features, including effective adsorption space (V<sub>eff</sub>), pore largest diameter (PLD), and Si-O-Si refinement distance least squares (R<sub>DLS</sub>) and XGBoost algorithm. Users can also do DIY online prediction by inputting three features (V<sub>eff</sub>、PLD、R<sub>DLS</sub>). The database contains the binding energies calculated by DFT/PBE, which is well reproduced by feature learning with the correlation coefficient of 0.92.
<br>
            </p>
        </div>
		<div class="col-md-6" style="background: url({{ url_for('static',filename="images/bk30.png") }}) no-repeat center 25px">
            <p style="font-size: 17px">
                <br>
			&nbsp; &nbsp;&nbsp;&nbsp;    Zeolite Adsorption Database is developed by the group of Professor Jing Ma in School of Chemistry and Chemical Engineering and Professor Yang Gao in State Key Laboratory for Novel Software Technology at Nanjing University, being supported by the National Key Research and Development Program of China (2017YFB0702601), the National Natural Science Foundation of China (grant nos. 21673111 and 21873045).
                <br>&nbsp; &nbsp;&nbsp;&nbsp; To cite Zeolite Adsorption Database, please reference: Y. Gu, Z. Liu, C. Yu, X. Gu, L. Xu, Y. Gao, J. Ma, <i>J. Phys. Chem. C</i> <b>2020</b>, 124, 9314-9328.
<br>
                &nbsp; &nbsp;&nbsp;&nbsp; To request all data, please complete the <a href="{{ url_for('static',filename="license.pdf") }}" download="license">LICENSE FORM</a>, scan and email it to majing@nju.edu.cn

			</p>
        </div>

	</div>
	</div>
</div>


<div class="navbar-fixed-bottom" style="background-color: rgba(106,0,95,1);height: 40px;text-align: center">
    <span style="color: white;position:relative;top: 10px;font-size: 10px"><a style="color: white" href="https://itcc.nju.edu.cn/~majing/" target="_blank">Insititute of Theoretical and Computational Chemistry of Nanjing University</a>   &nbsp; &nbsp;&nbsp;E-mail：majing@nju.edu.cn</span>
</div>

</body>
</html>
